body{
	background-image: url(/images/bg/coffee-apple-iphone-desk-640x426.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
@media screen and (min-height: 426px){
	body{
		background-image: url(/images/bg/coffee-apple-iphone-desk-1280x853.jpg);
	}
}
@media screen and (min-height: 853px){
	body{
		background-image: url(/images/bg/coffee-apple-iphone-desk-1920x1080.jpg);
	}
}
@media screen and (min-height: 1080px){
	body{
		background-image: url(/images/bg/coffee-apple-iphone-desk-5472x3648.jpeg);
	}
}
.container{
}
.content{
	background-color: rgba( 206, 206, 206, 0.9);
	box-sizing: border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	width: 400px;
	margin: 10px auto;
	padding: 20px;
}
#layout{
	height: 100%;
}
h1.title{
	text-align: center;
	padding: 0;
}
.menu{
	display: none;
}
@media screen (min-width: 768px){
	.menu{
		display:block;
	}
}



.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
