<template name="invitees">
	<h3 class="subtitle">Invitees</h3>
	<form class="invitees_form invitees pure-form" method="POST">
		<ul class="invitee_list">
		{{#each invitees}}
			<li data-id="{{this.id}}">
				{{this.email}}{{#if this.has_viewed}}(Viewed){{/if}}
				{{#if currentUser}}
					{{#unless this.sent_invitation }}
						<!-- <a href="#" class="sendInvitation">Send invitation</a> -->
						Link:<a href="/event/{{../_id}}/invitee/{{this._id}}">Copy this link</a>
					{{/unless}}
					<a href="#" class="removeInvitee">Remove</a>
				{{/if}}
			</li>
		{{/each}}
		</ul>
		<input type="email" name="email" placeholder="Invitee email"/>
		<button class="pure-button-primary pure-button invite">Invite</button>
	</form>
</template>
