<template name="newEvent">
	<div class="meeting_form">
		<h1 class="title">New meeting</h1>
		<form class="pure-form meeting" method="POST">
			{{#if errorMessages}}
				<div class="list-errors">
					{{#each errorMessages}}
						<div class="list-item">{{this}}</div>
					{{/each}}
				</div>
			{{/if}}
			<fieldset class="pure-group pure-u-1-6">
				<input type="text" name="title" placeholder="Subject, ex:Stand up meeting" />
				<textarea name="description" placeholder="Description, ex: Weekend summary"></textarea>
				<button class="pure-u-1 pure-button pure-button-primary create">Create</button>
			</fieldset>
		</form>
	</div>
</template>
