<template name="newEvent">
	<div class="meeting_form pure-u-1">
		<h1 class="title">New event</h1>
		<form class="pure-form meeting pure-u-3-4" method="POST">
			{{#if errorMessages}}
				<div class="list-errors">
					{{#each errorMessages}}
						<div class="list-item">{{this}}</div>
					{{/each}}
				</div>
			{{/if}}
			<fieldset>
				<input type="text" name="title" placeholder="Subject, ex:Stand up meeting" class="pure-u-1" />
				<textarea name="description" placeholder="Description, ex: Weekend summary" class="pure-u-1"></textarea>
				<button class="pure-u-1 pure-button pure-button-primary create">Create</button>
			</fieldset>
		</form>
	</div>
</template>
