<template name="places">
	<h3 class="subtitle">Places</h3>
	<form class="pure-form places" method="POST">
		<fieldset>
			<input type="text" name="place" placeholder="place"/>
			<button class="pure-button-primary pure-button addPlace">Add</button>
			<ul class="place_list">
			{{#each places}}
				<li data-id="{{ this._id }}">
					({{votes.length}}/{{../invitees.length}}){{placeName}}
					{{#if hasVoted}}
						<a href="#" class="votePlace voted">Unvote</a>
					{{else}}
						<a href="#" class="votePlace">Vote</a>
					{{/if}}
					<a class="removePlace">Remove</a>
				</li>
			{{/each}}
			</ul>
		</fieldset>
	</form>
</template>
